DATABASE_URL=

BACKEND_PORT=
BACKEND_HOST=
VITE_API_URL=

FRONTEND_ORIGIN=

BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
VITE_AUTH_URL=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
