node_modules/

# pnpm
.pnpm-store/

dist/
dist-ssr/
.output/
.nitro/
.vinxi/

.tanstack/
src/routeTree.gen.ts

.wrangler/

.env
.env.*
!.env.example

*.local

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.vite/
.cache/
.eslintcache

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace

.DS_Store
Thumbs.db

.netlify/

__unconfig*
todos.json

coverage/
