DATABASE_URL=

PORT=3001

VITE_API_URL=http://localhost:3001
FRONTEND_ORIGIN=http://localhost:5173
BETTER_AUTH_URL=http://localhost:3001

BETTER_AUTH_SECRET=

VITE_AUTH_URL=http://localhost:3001

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
